# Compiled output
/dist
/build

# Node dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Testing
/coverage

# Environment variables
.env
.env.local
.env.production
.env.development
!.env.example

# OS and Editor
.DS_Store
Thumbs.db
*.pem
whatsapp-sessions/
